/**
 * SPDX-FileCopyrightText: 2021 Pablo Marcos <kde@pablomarcos.me>
 * SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
 * SPDX-License-Identifier: LGPL-3.0-or-later
 */

@import "../includes/variables";

details {
  border: 1px solid $primary;
  border-radius: 3px;
}

summary:hover {
  font-weight: bold;
}

details[open] {
  summary {
    border-bottom: 1px solid #aaa;
    font-weight: bold;
  }
}
