{{ define "main" }}
  <main class="container" role="main">
    <h1>{{ .Title }}&nbsp;{{ partial "rss_section.html" . }}</h1>

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{ if not .Params.nosubpage }}
    <div class="row">
      {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
        <div class="col-12 mb-5">
          <h3 class="mt-1 h4"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h3>
          <div class="text-lighter">
            {{ partial "i18n_date.html" . }}
            {{- with .Params.author -}}&emsp;|&emsp;{{ . }}{{- end -}}
            {{- if .Params.tags -}}
              &emsp;|&emsp;Tags:
              {{- range .Params.tags }}
              &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
              {{- end -}}
            {{ end }}
          </div>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{ else }}
              {{ .Summary | markdownify }}
            {{ end }}
            {{ if .Truncated }}
              <a href="{{ .RelPermalink }}" class="d-block mt-2">{{ i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}
    {{ end }}
  </main>
{{ end }}
