{{/*
SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{- range .faq }}
<details class="mb-3">
  <summary class="p-2">{{ .question | markdownify }}</summary>
  <div class="p-2">{{ .answer | markdownify }}</div>
</details>
{{- end }}
