{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{- if eq .Section .Site.Params.rssSection }}
<a href="{{ (.Site.Home.OutputFormats.Get "RSS").RelPermalink }}">
  <svg xmlns="http://www.w3.org/2000/svg" id="RSSicon" viewBox="0 0 8 8" width="1em" height="1em" fill="currentColor">
    <circle class="symbol" cx="2" cy="6" r="1"/>
    <path class="symbol" d="m 1,4 a 3,3 0 0 1 3,3 h 1 a 4,4 0 0 0 -4,-4 z"/>
    <path class="symbol" d="m 1,2 a 5,5 0 0 1 5,5 h 1 a 6,6 0 0 0 -6,-6 z"/>
  </svg>
</a>
{{- end }}
