{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ with $.Site.Params.matomo }}
<!-- Matomo Image Tracker-->
<img src="https://stats.kde.org/matomo.php?idsite={{ . }}&amp;rec=1" style="border:0" alt="" />
<!-- End Matomo -->
<script>
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.kde.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '{{ . }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
{{ end }}

<!-- Standard JS Files, bootstrap Async -->
{{ $native := resources.Get "js/native/bootstrap-native.js" }}
{{ $script := resources.Get "js/bootstrap.js" }}
{{- $scripts := slice $native $script -}}
{{- if eq site.Params.colorModeType "data" -}}
  {{- $scripts = $scripts | append (resources.Get "js/color-modes.js") -}}
{{- end -}}
{{ $js := $scripts | resources.Concat "js/bundle.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js = $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer=""></script>
{{ end }}

{{/* Scripts that go together with shortcodes */}}
{{- if .HasShortcode "screenshots" }}
{{- $swiperJs := resources.Get "js/swiper-bundle.min.js" }}
<script src="{{ $swiperJs.RelPermalink }}"></script>
{{- $swiperInit := resources.Get "js/swiper-init.js" }}
<script src="{{ $swiperInit.RelPermalink }}"></script>
{{- end }}

{{/* Equivalent to Docsy's `hooks/body-end` */}}
{{ if templates.Exists "partials/custom_scripts.html" }}
{{ partial "custom_scripts.html" . }}
{{ end }}
