/**
 * SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@import "highlighting";

// Note: Custom variable values only support SassScript inside `#{}`.

@include color-mode(light, true) {
  --navbar-active-color: #{$navbar-active-color};

  --footer-bg: #{$footer-bg};
  --footer-income-bg: #{$footer-income-bg};
  --footer-bg-changed: #{$footer-bg-changed};
  --footer-legal-color: #{$footer-legal-color};

  --fig-cap-color: #{$fig-cap-color};

  --code-border: #{$code-border};
  --code-bg: #{$code-bg};
}

@include color-mode(light, false) {
  // syntax highlighting
  @include tango-light;
}

@include color-mode(dark, true) {
  --navbar-active-color: #{$navbar-active-color-dark};

  --footer-bg: #{$footer-bg-dark};
  --footer-income-bg: #{$footer-income-bg-dark};
  --footer-bg-changed: #{$footer-bg-changed-dark};
  --footer-legal-color: #{$footer-legal-color-dark};

  --fig-cap-color: #{$fig-cap-color-dark};

  --code-border: #{$code-border-dark};
  --code-bg: #{$code-bg-dark};
}

@include color-mode(dark, false) {
  // syntax highlighting
  @include solarized-dark;
}
