<div class="box">
  <picture class="img-fluid"> {{ $darkname := print (substr (.Get "src") 0 -4) "-dark.png" }} {{ if or (fileExists (print "static/" .Page.File.Dir .Page.File.BaseFileName "/" $darkname)) (fileExists (print "/" .Page.File.Dir $darkname)) }} <source srcset="{{ .Page.Permalink }}{{ $darkname }}" media="(prefers-color-scheme: dark)"> {{ end }}
    <img src="{{ .Page.Permalink }}{{ .Get "src" }}" class="img-fluid" alt="{{ .Get "alt" }}" loading="lazy" />
  </picture>
</div>
